.dialog {
    padding-left: 15px;

}

.dialogWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.dialogAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ffffff;
}

.dialogAvatarImage {
    position: relative;
    left: -30%;
    object-fit: cover;
    width: 180%;


}

.dialog-text {
    text-decoration: none;
    color: #ffffff;
}

.active {
    color: rgb(66, 39, 97);
    text-decoration: none;
}

.hover-active:hover {
    cursor: default;
    opacity: 1;
}