.profile-avatar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .profile-avatar-image {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 6em;
    padding: 15px;
    
  }


.profile-avatar-block {
  max-width: 180px;
}